.project {
  display: flex;
  .logoContainer {
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    .logo {
      height: 40px;
      width: 40px;
    }
    a {
      text-decoration: none;      
      align-self: center;
      height: 40px;
      width: 40px;
      &:visited {
        color: #ffffff;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    .title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      margin-bottom: 8px;
      a {
        color: #ffffff;
        text-decoration: none;
        &:visited {
          color: #ffffff;
        }
      }
    }
    .description {
      font-size: 11px;
      line-height: 13px;
      font-weight: 400;
      color: #a7a9ac;
    }
  }
}
